<div class="displayImage">
  <main>
    <div class="header">
      <section class="alphabet">
        <p *ngFor="let char of alhabet">{{char}}</p>
      </section>
    </div>
    <section>
      <div class="left">
        <p class="fromLeft">Enjoy Double Pleasure</p>
        <p class="fromRight">With TTwins</p>
        <div class="logo"></div>
      </div>
      <div class="right">
        <section>
          <p>Wine Region</p>
          <div class="greapImg" (click)="kakheti()"></div>
        </section>
        <section>
          <p>Mountain Region</p>
          <div class="mountainImg" (click)="kazbegi()"></div>
        </section>
        <section>
          <p>Throne Cities</p>
          <div class="tbilisiImg" (click)="tbilisi()"></div>
        </section>
        <section>
          <p>Georgian Greenery</p>
          <div class="borjomiImg" (click)="borjomi()"></div>
        </section>
      </div>
    </section>
  </main>
</div>
