<div class="displayImage">
  <main>
    <div class="header">
      <section class="alphabet">
        <p>ა</p>
        <p>ბ</p>
        <p>გ</p>
        <p>დ</p>
        <p>ე</p>
        <p>ვ</p>
        <p>ზ</p>
        <p>თ</p>
        <p>ი</p>
        <p>კ</p>
        <p>ლ</p>
        <p>მ</p>
        <p>ნ</p>
        <p>ო</p>
        <p>პ</p>
        <p>ჟ</p>
        <p>რ</p>
        <p>ს</p>
        <p>ტ</p>
        <p>უ</p>
        <p>ფ</p>
        <p>ქ</p>
        <p>ღ</p>
        <p>ყ</p>
        <p>შ</p>
        <p>ჩ</p>
        <p>ც</p>
        <p>ძ</p>
        <p>წ</p>
        <p>ჭ</p>
        <p>ხ</p>
        <p>ჯ</p>
        <p>ჰ</p>
      </section>
    </div>
    <section>
      <div class="left">
        <p>Enjoy Double Pleasure</p>
        <p class="text">With TTwins</p>
        <div class="logo"></div>

      </div>
      <div class="right">
        <section>
          <p>Wine Region</p>
          <div class="greapImg" (click)="kakheti()"></div>
        </section>
        <section>
          <p>Mountain Region</p>
          <div class="mountainImg" (click)="kazbegi()" ></div>
        </section>
        <section>
          <p>Throne Cities</p>
          <div class="tbilisiImg" (click)="tbilisi()"></div>
        </section>
        <section>
          <p>Georgian Greenery</p>
          <div class="borjomiImg" (click)="borjomi()"></div>
        </section>
      </div>
    </section>
  </main>
</div>
